*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.container_
{
  display: grid;
  padding: 2rem;
  gap: 1rem;
}
nav
{
  background: none;
}
.main_image
{
  height: 300px;
  object-fit: cover;
  background-image: url(image-web-3-mobile.jpg);
  background-repeat: no-repeat;
}


h1
{
  font-weight: 800;
  font-size: 3rem;
}

p
{
  color:  hsl(233, 8%, 79%);
  font-weight: 600;
}

.main_para button
{
  height: 3rem;
  width: 8rem;
  background-color:  hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 600;
}

.main_para button:hover
{
  background-color: hsl(240, 100%, 5%);
}

.a_link
{
  color:hsl(240, 100%, 5%);
  font-weight: 600;
}
.a_link:hover
{
  color: hsl(5, 85%, 63%);
}

.box
{
  height: max-content;
  background-color: hsl(240, 100%, 5%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.box1, .box2, .box3 p{
  
  color: hsl(236, 13%, 42%);
}

.box1, .box2, .box3 h3{
  color:  hsl(36, 100%, 99%);
}



h2
{
  color: hsl(35, 77%, 62%);
}
.box1, .box2, .box3
{
  flex: 1;
  margin-top: 1rem;
}

.box1, .box2
{
  border-bottom: 1px solid grey;
}


.card_
{
  display: flex;
  height: 11rem;
  gap: 2rem;
}

.card-img-top 
{
  height: 11rem;
  
  max-width: 100px;
}


.card-img-top, .card-body
{
  flex: 1;
}
.card-body
{
  height: 10rem;
}

.card-title
{
  font-size: 2rem;
  color: hsl(233, 8%, 79%);
}


.card-text1
{
  color: hsl(240, 100%, 5%);
  font-weight: 900;
  font-size: 18px;
}

.card-text2
{
  color:  hsl(233, 8%, 79%);
}

@media(min-width: 768px)
{
  .main_image
  {
    background-image: url('image-web-3-desktop.jpg');
  }
}

@media (min-width: 1100px)
{

  
  .container_
  {
   display: grid;
   gap: 20px;
   grid-template-areas: 'navbar navbar navbar'
   'main_image main_image box'
   'main-heading main_para box'
   'card1 card2 card3';

   padding: 0 10rem;
  }

  .card_
  {
    height: max-content;
    width: fit-content;
  }
  nav
  {
    grid-area: navbar
  }

  .main_image
  {
    grid-area: main_image;
  }

  .box
  {
    grid-area: box;
  }
  
  .main_heading{
    grid-area: main-heading;
  }

  .main_para
  {
    grid-area: main_para;
  }
  .card1{
    grid-area: card1;
  }

  .card2{
    grid-area: card2;
  }

  .card3{
    grid-area: card3;
  }
}